body {
  background-color: #0093dd;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 4rem;
}

#health-catch-image {
  display: flex;
  justify-content: center;
  background-color: #cdcdc9;
  cursor: pointer;
}

#health-catch-image img {
  padding: 30px 20px;
  width: 60rem;
  border: none;
}

#model {
  margin: auto;
  font-weight: 600;
  color: rgb(14, 14, 4);
  padding: 0 10px 0 0;
  font-size: 30px;
  width: 37.5rem;
}

#models {
  color: #fffdff;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  width: 11.25rem;
  font-size: 1.25rem;
  padding: 0;
  margin: 1rem auto 0 auto;
}

#about p {
  width: 60%;
  margin: 0 auto;
  color: #fffdff;
  font-size: 1rem;
}

#impact {
  /* width: 80%; */
  margin: 0 auto;
}

#impact ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  padding: 0;
  list-style: none;
}

.impact-details {
  /* list-style: none; */
  padding: 10px 20px;
  /* padding: 0 auto; */
  /* margin: auto; */
}

.impact-details video {
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
}

.impact-details p {
  margin: 0;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #fffdff;
  text-align: center;
}

#programs {
  margin: 20px auto;
}

#programs table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto 2rem auto;
}

#programs table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

#programs table th {
  background-color: #c03027;
  color: #fffdff;
  font-weight: bold;
  font-size: 1rem;
}

#programs table td {
  background-color: #fffdff;
  font-size: 0.8rem;
}

#programs table td:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#branches {
  margin: 1rem 0 3rem 0;
}

#branches ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

#branches ul li {
  padding: 0 1.25rem;
  list-style: square;
  text-transform: uppercase;
  color: #fffdff;
  cursor: pointer;
  font-size: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 64rem) {
  #health-catch-image img {
    padding: 30px 10px;
    width: 20rem;
  }

  h2 {
    font-size: 1rem;
  }

  #model {
    padding: 0 0px 0 0;
    font-size: 0.8rem;
    width: 20rem;
  }

  #about p {
    font-size: 0.7rem;
  }

  #branches ul li {
    font-size: 0.8rem;
    padding: 0 1rem;
  }
}

@media (max-width: 48rem) {
  main {
    margin-top: 3.8rem;
  }

  #health-catch-image img {
    padding: 20px 10px;
    width: 28rem;
  }

  #model {
    padding: 0 8px 0 0;
    font-size: 0.9rem;
    width: 30rem;
  }

  h2 {
    font-size: 1rem;
  }

  #about p {
    width: 80%;
  }

  #programs table {
    width: 80%;
  }

  #programs table th,
  table td {
    padding: 6px;
  }

  #branches ul li {
    font-size: 0.85rem;
    padding: 0 1rem;
  }
}

@media (max-width: 30rem) {
  main {
    margin-top: 3.5rem;
  }

  #health-catch-image {
    display: block;
  }

  #health-catch-image img {
    width: 21rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  #model {
    padding: 0 0 10px 0;
    font-size: 0.9rem;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
  }

  #about p {
    font-size: 0.8rem;
  }

  #programs {
    margin: 20px auto;
  }

  #programs table th,
  table td {
    padding: 5px;
  }

  #programs table th {
    background-color: #c03027;
    font-size: 0.8rem;
  }

  #programs table td {
    font-size: 0.6rem;
  }

  .impact-details p {
    font-size: 0.8rem;
  }

  #branches {
    width: 60%;
    margin: 0 auto;
  }

  #branches ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
  }

  #branches ul li {
    font-size: 0.7rem;
    padding: 0.4rem 0.5rem;
  }
}
