main {
  padding: 20px;
}

main p {
  text-align: center;
  margin: 0;
}

h3 {
  text-align: center;
  margin: 0 0 20px 0;
}

input {
  height: 1.4rem;
  background-color:  #ffff;
  border: solid #fffdff;
  border-radius: 6px;
  transition: border-color 0.3s ease; 
  margin: 0.2rem 0 0 0;
}

input:focus {
  border-color:  #c03027; /* New border color when clicked */
  outline: none; /* Remove the default outline */
}

#personal-details-form {
  flex-direction: column;
  width: 60%;
  margin: 0 auto 50px auto;
}

#personal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.personal-details {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 15.6rem;
  height: 4.5rem;
  margin: 0 auto;
}

#btn-next {
  width: 5rem;
  height: 2.5rem;
  text-transform: uppercase;
  padding: 6px;
  background-color: #fffdff;
  border: none;
}

#btn-next:hover {
  cursor: pointer;
}

#contact-details-form {
  flex-direction: column;
  width: 50%;
  margin: 0 auto 50px auto;
  display: none;
}

#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#auth-msg {
  color: #c03027;
}

.contact-details {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 15.6rem;
  height: 3.25rem;
  margin: 0 auto;
}

#contact button {
    margin: 0 10px;
}

.btn {
  width: 5rem;
  height: 2.5rem;
  text-transform: uppercase;
  padding: 6px;
  background-color: #fffdff;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 48rem) {
  #personal-details-form {
    width: 80%;
  }

  .personal-details {
    width: 12.6rem;
  }

  #contact-details-form {
    width: 90%;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 12.6rem;
    height: 5rem;
    margin: 0 auto;
  } 
}

@media (max-width: 30rem) {
  #personal-details-form {
    width: 95%; 
  }

  .personal-details {
    width: 16.6rem;
    height: 6.7rem;
  }
}

