#main-header {
  background-color: #c03027;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  width: 95%;
  top: 0;
  left: 0;
  right: 0;
}

#college {
  display: flex;
}

#college img {
  width: 4.7rem;
  height: 4.3rem;
  margin: auto;
  border-radius: 5px;
}

#college h1 {
  text-transform: uppercase;
  padding: 0 6px;
  font-size: 1.8rem;
  font-family: serif;
}

#college h1 a {
  text-decoration: none;
  color: #fffdff;
}

#main-header nav {
  margin: auto;
  padding: 0;
}

#main-header nav ul {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0;
}

#main-header nav ul li {
  padding: 6px 10px;
  border-left: 1px solid #e3f8fb;
}

#main-header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e3f8fb;
  font-weight: 400;
  font-size: 1rem;
}

#main-header nav ul li a:hover {
  cursor: pointer;
}

#side-drawer {
  width: 50%;
  /* height: 100%; */
  background-color: #0093dd;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer li a {
  color: rgb(240, 240, 240);
  font-size: 1.25rem;
  text-transform: capitalize;
  text-decoration: none;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: white;
}

footer {
  background-color: #c03027;
  margin: 0;
  padding: 0;
}

#footer-details {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
  width: 12.5rem;
}

#news {
  padding: 0 1rem;
}

#news ul {
  padding: 0;
  margin: 0;
  width: 16.25rem;
}

#news ul li {
  list-style: square;
  text-transform: capitalize;
  color: #fffdff;
  font-size: 1rem;
}

#media {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 1rem;
}

#media-list ul {
  width: 11rem;
  margin: 10px auto;
  display: flex;
}

#media-list ul li {
  list-style: none;
}

#media-list ul li a {
  padding: 0 6px;
  color: #ffff;
}

footer p {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
}

footer p a {
  color: #ffff;
  text-decoration: none;
}

@media (max-width: 64rem) {
  #main-header {
    padding: 0 2%; 
    width: 95%; 
  }

  #college img {
    width: 4rem;
    height: 3.8rem; 
  }

  #college h1 {
    font-size: 1.2rem; 
  }

  #main-header ul li a {
    font-size: 0.8rem; 
  }

  #media-list ul {
    width: 9rem; 
    margin: 10px auto;
    padding: 0;
  }
}

@media (max-width: 48rem) {
  #main-header {
    padding: 0 3%;
    width: 94%;
  }

  #main-header nav {
    display: none;
  }

  #college img {
    width: 3.7rem;
    height: 3.5rem;
  }

  #college h1 {
    font-size: 1.5rem;
  }

  .menu-btn {
    display: flex;
  }

  #news ul li {
    font-size: 0.85rem;
  }

  #media-list ul {
    width: 11rem;
    margin: 10px auto;
    display: flex;
  }

  #media-list ul li {
    list-style: none;
  }

  #media-list ul li a {
    padding: 0 8px;
  }

  footer p {
    font-size: 0.85rem;
  }
}

@media (max-width: 30rem) {
  #main-header {
    padding: 1% 3%;
  }

  .menu-btn {
    height: 2rem;
    margin: 10px 0;
  }

  .menu-btn span {
    width: 60%;
    height: 2px;
  }

  #side-drawer header {
    margin: 6px 0;
  }

  #side-drawer ul {
    padding: 1rem;
  }
  
  #side-drawer li {
    margin: 0.8rem 0;
  }
  
  #side-drawer li a {
    font-size: 0.9rem;
  }

  #college img {
    width: 3.2rem;
    height: 3rem;
  }

  #college h1 {
    font-size: 0.75rem;
    margin: auto;
  }

  #footer-details {
    width: 0.5rem;
  }

  #news {
    padding: 0 0.2rem;
  }

  #news ul {
    width: 8rem;
    margin: auto;
  }

  #news ul li {
    font-size: 0.7rem;
  }

  #media {
    display: flex;
    width: 10rem;
    margin: 0 auto;
    padding: 0;
  }

  #media h2 {
    width: 100px;
  }

  #media-list {
    margin: 0 0;
    padding: 0 0;
  }

  #media-list ul {
    width: 10rem;
    margin: 10px auto;
    padding: 0;
    margin: 0;
  }

  #media-list ul li a {
    padding: 0 5px;
  }

  footer p {
    font-size: 0.7rem;
  }
}
